Client/Connected Services/ServiceReference1/myLib1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.185:8001/myLib?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.0.185:8001/myLib?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/myLib" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Twice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TwiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TwiceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerownieGrafu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerownieGrafuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GenerownieGrafuResult" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AktualizujFeromon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sciazka" nillable="true" type="q2:ArrayOfint" />
        <xs:element minOccurs="0" name="dlugoscTrasy" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AktualizujFeromonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AktualizujFeromonNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TablicaSciezekPolaczone" nillable="true" type="q3:ArrayOfint" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tablicaDlugosciSciezek" nillable="true" type="q4:ArrayOfdouble" />
        <xs:element minOccurs="0" name="liczbaMrowek" type="xs:int" />
        <xs:element minOccurs="0" name="iloscWatkow" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AktualizujFeromonNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AktualizujFeromonNewResult" nillable="true" type="q5:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZwrocGraf">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ZwrocGrafResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ZwrocGrafResult" nillable="true" type="q6:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZwrocFeromon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ZwrocFeromonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ZwrocFeromonResult" nillable="true" type="q7:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZwrocLiczbeIteracji">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ZwrocLiczbeIteracjiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ZwrocLiczbeIteracjiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZwrocMiastoStartowe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ZwrocMiastoStartoweResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ZwrocMiastoStartoweResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZwrocLiczbeMrowek">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ZwrocLiczbeMrowekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ZwrocLiczbeMrowekResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZwrocAlfa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ZwrocAlfaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ZwrocAlfaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZwrocBeta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ZwrocBetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ZwrocBetaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startRysowanie">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="startRysowanieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="startObliczen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="startObliczenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startObliczenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrzeslijDaneDoZapisu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="czyOptymalna" type="xs:boolean" />
        <xs:element minOccurs="0" name="iteracja" type="xs:int" />
        <xs:element minOccurs="0" name="czas" type="xs:double" />
        <xs:element minOccurs="0" name="dlugoscTrasy" type="xs:double" />
        <xs:element minOccurs="0" name="sciezka" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="liczbaMiast" type="xs:int" />
        <xs:element minOccurs="0" name="liczbaIteracji" type="xs:int" />
        <xs:element minOccurs="0" name="liczbaMrowek" type="xs:int" />
        <xs:element minOccurs="0" name="alfaparm" type="xs:double" />
        <xs:element minOccurs="0" name="betaParm" type="xs:double" />
        <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrzeslijDaneDoZapisuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrzeslijStatystyke">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iteracjaZnalezienia" type="xs:int" />
        <xs:element minOccurs="0" name="czasZnalezienia" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrzeslijStatystykeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/myLib" minOccurs="0" name="composite" nillable="true" type="q8:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/myLib" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q9:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>